<div class="main-wrapper">
  <div class="content-wrapper">
    <div class="form-control">
      <div class="grid-item-title title-title">Naslov</div>
      <input
        type="text"
        class="text-input title-input"
        [(ngModel)]="offer.title"
      />
    </div>
    <div class="form-control form-control-desc">
      <div class="grid-item-title title-desc">Opis</div>
      <textarea
        class="text-input desc-input"
        [(ngModel)]="offer.description"
      ></textarea>
    </div>
    <div class="offer-grid">
      <div class="grid-item-edit">
        <div class="grid-item-title title-books">Broj knjiga</div>

        <input
          type="number"
          class="grid-item-input"
          [min]="1"
          [(ngModel)]="offer.noOfBooks"
        />
      </div>

      <div class="grid-item-edit">
        <div class="grid-item-title title-price">Cijena (KM)</div>
        <input
          type="number"
          class="grid-item-input"
          [min]="1"
          [(ngModel)]="offer.price"
        />
      </div>

      <div class="grid-item-edit grid-item-time">
        <div class="grid-item-title title-time">Trajanje</div>
        <input
          type="number"
          class="grid-item-input"
          [min]="1"
          [(ngModel)]="offer.addedMonths"
        />
      </div>
    </div>
  </div>
  <div
    class="button button-green action-dark"
    (click)="submit()"
    *ngIf="!submitLoading"
  >
    SPREMI
  </div>
  <div
    class="button button-green action-dark submit-loading"
    *ngIf="submitLoading"
  >
    <div class="lds-ring lds-ring-white loading-submit">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
