<div class="footer-content">
  <div class="wrapper">
    <div class="info">
      <div class="info-header">
        <img
          class="header-logo"
          src="assets/svg/logo-main.svg"
          routerLink="/"
        />
      </div>
      <div class="info-content">
        Sjeverni logor bb <br />
        88000 Mostar, BiH <br />
        TEL/FAX: +111/222-333 <br />
      </div>
    </div>

    <div class="contact">
      <div class="contact-header">KONTAKT</div>
      <div class="contact-question">Tehnički problemi?</div>
      <div class="contact-line">podrska@eBiblioteka.ba</div>
      <div class="contact-question">Problemi sa transakcijama</div>
      <div class="contact-line">transakcije@eBiblioteka.ba</div>
      <div class="contact-question">Telefonska podrška</div>
      <div class="contact-line">+111/222-333</div>
    </div>
  </div>
</div>
<div class="footer-rights">Sva prava zadržana © eBiblioteka</div>
