.lent-books-wrapper {
  width: 822px;
  margin-top: 30px;
  padding-left: 15px;
}

.book-list-item {
  display: flex;
  flex-direction: column;
  margin: auto 0px;
  margin-right: 45px;
}

.cover {
  height: 330px;
  width: 242px;
  margin: 0px auto;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cover:hover {
  cursor: pointer;
}

.btn {
  border-radius: 5px;
  width: 225px;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  font-family: "Roboto-Bold";
}

.about-text {
  width: 235px;
  font-family: "Roboto-Bold";
  margin: 20px 0;
  color: #303030;
  font-size: 22px;
}

.author-name,
.library-name {
  font-family: "Roboto-Light";
  color: #878787;
  font-size: 16px;
  margin-top: 2px;
}

.library-name {
  color: #303030;
}

.time-remaining {
  margin-top: 10px;
  font-family: "Roboto-Bold";
  color: #303030;
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
}
