<div
  class="library-card-wrapper"
  [ngClass]="{
    'library-card-wrapper-action': showAction
  }"
  routerLink="/biblioteka/{{ library.id }}"
>
  <div
    class="banner"
    style="background-image: url('{{ getFullImagePath(library.bannerImage) }}')"
  ></div>
  <div
    class="content"
    [ngClass]="{
      'content-action': showAction
    }"
  >
    <div class="heading">
      <div
        class="profile-pic"
        style="background-image: url('{{
          getFullImagePath(library.profileImage)
        }}')"
      ></div>
      <div class="name">{{ library.name }}</div>
    </div>

    <div class="about">
      <div class="library-list-stats">
        <div class="stats-text-first">
          <app-book-icon
            class="grid-icon"
            svgClass="membership-offer-icon"
          ></app-book-icon>
          <div class="stats-text">
            {{ library.noOfBooks }}
          </div>
        </div>

        <div>
          <app-users-icon
            class="grid-icon"
            svgClass="membership-offer-icon"
          ></app-users-icon>
          <div class="stats-text">
            {{ library.noOfMembers }}
          </div>
        </div>
      </div>
      <div
        class="about-text"
        [ngClass]="{
          'about-text-action': showAction
        }"
      >
        {{ getFormattedAbout() }}
      </div>
    </div>

    <div class="action" *ngIf="showAction">
      POSJETI STRANICU
      <img src="assets/svg/forward-arrow-dark.svg" alt="forward-arrow" />
    </div>
  </div>
</div>
