<div class="hero-section">
  <div class="hero-flex wrapper">
    <div class="text-side">
      <div class="hero-title">Novi način upravljanja poslovanjem</div>
      <div class="hero-subtext">
        eBiblioteka je web platforma koja omogućava poslovanje na nikad
        jednostavniji način. Uz samo par jednostavnih koraka možete
        automatizovati veliki dio vašeg poslovanja i znatno proširiti vaš domet.
        Kreirajte besplatni račun da počnete.
      </div>
      <div class="hero-button-flex">
        <div class="register-button button-green" routerLink="/register">
          REGISTRIRAJ SE
        </div>
        <div class="hero-button-or">ili</div>
        <div
          (click)="scroll(learnmore)"
          class="learn-more-button button-ghost-dark"
        >
          SAZNAJ VIŠE
        </div>
      </div>
    </div>
    <div class="img-side">
      <img class="library-hero-image" src="assets/img/hero-image2.png" alt="" />
    </div>
  </div>

  <div class="circular-detail"></div>
  <img class="arc-detail" src="assets/img/hero-background.svg" alt="" />
</div>

<div class="credentials-section">
  <div class="credentials-flex">
    <div class="credentials-item">
      <div class="credentials-circle"></div>
      <div>
        <div class="credentials-upper-line"></div>
        <div class="credentials-lower-line"></div>
      </div>
    </div>

    <div class="credentials-item">
      <div class="credentials-circle"></div>
      <div>
        <div class="credentials-upper-line"></div>
        <div class="credentials-lower-line"></div>
      </div>
    </div>

    <div class="credentials-item">
      <div class="credentials-circle"></div>
      <div>
        <div class="credentials-upper-line"></div>
        <div class="credentials-lower-line"></div>
      </div>
    </div>
  </div>
</div>

<div class="why-section" #learnmore>
  <div class="wrapper">
    <div class="section-title">ZAŠTO KORISTITI?</div>
    <div class="section-title-line"></div>
    <div class="section-subtitle">
      eBiblioteka je web platforma koja omogućava poslovanje na nikad
      jednostavniji način. Uz samo par jednostavnih koraka možete automatizovati
      veliki dio vašeg poslovanja i znatno proširiti vaš domet. Kreirajte
      besplatni račun da počnete.
    </div>

    <div class="why-section-flex">
      <div>
        <div class="why-section-item">
          <div class="why-section-icon">
            <img src="assets/svg/clock-dark.svg" alt="" />
          </div>
          <div class="why-section-item-title">UŠTEDA VREMENA</div>
          <p>
            eBiblioteka nudi učlanjivanje u biblioteku, provjeru dostupnosti i
            iznajmljivanje knjiga korisniku, bez potrebe za bibliotekarom. Ovaj
            automatizovani sistem znatno smanjuje opseg posla koji bibliotekar
            vrši i samim time dovodi do uštede vremena.
          </p>
        </div>
      </div>
      <div>
        <div class="why-section-item">
          <div class="why-section-icon">
            <img src="assets/img/people-dark.png" alt="" />
          </div>
          <div class="why-section-item-title">VEĆI DOMET</div>
          <p>
            Kreiranjem javnog profila omogućuje veće eksponiranje potencijalnim
            članovima. Jačanje online prisustva može znatno doprinjeti
            poslovanju i otvoriti put ka širenju. Korisnicima je olakšano
            pronalaženje biblioteka koji su im blizu uz funkcionalnost
            pretraživanja po lokaciji
          </p>
        </div>
      </div>
      <div>
        <div class="why-section-item">
          <div class="why-section-icon">
            <img src="assets/img/bell-dark.png" alt="" />
          </div>
          <div class="why-section-item-title">INFORMISANI ČLANOVI</div>
          <p>
            Aplikacija podržava slanje notifikacija članovima. Uz kontrolnu
            tablu za korisnike, uvijek mogu provjeriti rok za povratak knjiga
            koje su iznajmili i notifikacije od vaše biblioteke. Ove
            funkcionalnosti su uvedene sa ciljem smanjenja kašnjenja pri
            vraćanju knjiga i za podsjećanje za istek članarine.
          </p>
        </div>
      </div>
    </div>
    <div class="why-section-background">
      <img src="assets/svg/why-section-detail.svg" alt="" />
    </div>
  </div>
</div>

<div class="how-section">
  <div class="section-title" style="color: #fff">KAKO KORISTITI?</div>
  <div class="section-title-line"></div>
  <app-landing-page-how-librarian></app-landing-page-how-librarian>
</div>
