.heading-small {
  font-size: 22px;
}
.heading-medium {
  font-size: 26px;
}
.heading-large {
  font-size: 34px;
}

.heading-highlight {
  width: 60px;
  height: 7px;
  border-radius: 3px;
  background-color: #00d8b1;
}

.heading-highlight-small {
  width: 50px;
  height: 5px;
  border-radius: 2px;
}

.heading-wrapper {
  position: relative;
}

.heading-centered {
  text-align: center;
}

.heading-highlight-centered {
  margin: auto;
}
