<div class="info-wrapper password-wrapper">
  <div class="info-control">
    <label for="currentPassword">TRENUTNA LOZINKA</label>
    <input
      type="text"
      [(ngModel)]="currentPassword"
      disabled
      *ngIf="!editingPassword"
    />
    <input
      type="text"
      [(ngModel)]="currentPassword"
      *ngIf="editingPassword"
      (change)="currentPasswordChange()"
    />
    <div
      class="form-control-error"
      *ngFor="let error of errors.currentPassword"
    >
      {{ error }}
    </div>
  </div>
  <div class="info-control">
    <label for="newPassword">NOVA LOZINKA</label>
    <input
      type="text"
      [(ngModel)]="newPassword"
      disabled
      *ngIf="!editingPassword"
    />
    <input
      type="text"
      [(ngModel)]="newPassword"
      (change)="passwordChange()"
      *ngIf="editingPassword"
    />
    <div class="form-control-error" *ngFor="let error of errors.newPassword">
      {{ error }}
    </div>
  </div>
  <div class="info-control">
    <label for="confirmPassword">POTVRDA LOZINKE</label>
    <input
      type="text"
      [(ngModel)]="confirmPassword"
      disabled
      *ngIf="!editingPassword"
    />
    <input
      type="text"
      [(ngModel)]="confirmPassword"
      (change)="repeatPasswordChange()"
      *ngIf="editingPassword"
    />
    <div
      class="form-control-error"
      *ngFor="let error of errors.confirmPassword"
    >
      {{ error }}
    </div>
  </div>
  <div
    class="button button-ghost-dark account-button"
    *ngIf="!editingPassword"
    (click)="setEditingPassword(true)"
  >
    UREDI LOZINKU
  </div>
  <div class="button-grid">
    <div
      class="button button-ghost-dark account-button"
      *ngIf="editingPassword"
      (click)="setEditingPassword(false)"
    >
      ODBACI
    </div>
    <div
      class="button button-green account-button"
      *ngIf="editingPassword && !editingPasswordLoading"
      (click)="updatePassword()"
    >
      SPREMI
    </div>
    <div
      class="button button-green account-button account-button-loading"
      *ngIf="editingPasswordLoading"
    >
      <div class="lds-ring lds-ring-white loading-submit">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
