<div class="overlay-shadow">
  <div class="overlay-item upload-wrapper">
    <div class="upload-header">
      <app-heading text="SERIJALI" size="m"></app-heading>
      <div class="upload-close-wrapper">
        <img
          src="assets/svg/close.svg"
          alt="close-icon"
          class="close-icon"
          (click)="closeOverlay()"
        />
      </div>
    </div>

    <div class="search-authors-wrapper">
      <input
        type="text"
        class="text"
        placeholder="Unesite naziv serijala"
        [(ngModel)]="filter"
        (ngModelChange)="loadSeries()"
      />
      <button class="button button-dark">PRETRAŽI</button>
    </div>

    <div class="authors-result">
      <app-series-item-auth
        *ngFor="let s of series"
        [seriesItem]="s"
        (onDelete)="removeSeries($event)"
      ></app-series-item-auth>
    </div>

    <div class="add-author-wrapper">
      <input
        type="text"
        name="add"
        id="add"
        class="text"
        placeholder="Unesite naziv novog serijala"
        [(ngModel)]="addNew"
      />
      <button class="btn button button-green" (click)="addNewSeries()">
        DODAJ
      </button>
    </div>
  </div>
</div>
