<div class="hero-section">
  <div class="hero-flex wrapper">
    <div class="text-side">
      <div class="hero-title">Novi način korištenja biblioteke</div>
      <div class="hero-subtext">
        eBiblioteka je web platforma koja omogućava korištenje usluga biblioteka
        na nikad jednostavniji način. Pretražite biblioteke, učlanite se,
        pretražite knjige i posudite željene naslove, sve na vašem web
        pretraživaču.
      </div>
      <div class="hero-button-flex">
        <div class="register-button button-green" routerLink="/register">
          REGISTRIRAJ SE
        </div>
        <div class="hero-button-or">ili</div>
        <div
          (click)="scroll(learnmore)"
          class="learn-more-button button-ghost-dark"
        >
          SAZNAJ VIŠE
        </div>
      </div>
    </div>
    <div class="img-side"><img src="assets/img/hero-image1.png" alt="" /></div>
  </div>

  <div class="circular-detail"></div>
  <img class="arc-detail" src="assets/img/hero-background.svg" alt="" />
</div>

<div class="credentials-section">
  <div class="credentials-flex">
    <div class="credentials-item">
      <div class="credentials-circle"></div>
      <div>
        <div class="credentials-upper-line"></div>
        <div class="credentials-lower-line"></div>
      </div>
    </div>

    <div class="credentials-item">
      <div class="credentials-circle"></div>
      <div>
        <div class="credentials-upper-line"></div>
        <div class="credentials-lower-line"></div>
      </div>
    </div>

    <div class="credentials-item">
      <div class="credentials-circle"></div>
      <div>
        <div class="credentials-upper-line"></div>
        <div class="credentials-lower-line"></div>
      </div>
    </div>
  </div>
</div>

<div class="why-section" #learnmore>
  <div class="wrapper">
    <div class="section-title">ZAŠTO KORISTITI?</div>
    <div class="section-title-line"></div>
    <div class="section-subtitle">
      eBiblioteka je web platforma koja omogućava korištenje usluga biblioteka
      na nikad jednostavniji način. Pretražite biblioteke, učlanite se,
      pretražite knjige i posudite željene naslove, sve na vašem web
      pretraživaču.
    </div>

    <div class="why-section-flex">
      <div>
        <div class="why-section-item">
          <div class="why-section-icon">
            <img src="assets/svg/clock-dark.svg" alt="" />
          </div>
          <div class="why-section-item-title">UŠTEDA VREMENA</div>
          <p>
            eBiblioteka nudi online pretraživanje biblioteka, učlanjivanje,
            pregled i iznajmljivanje dostupnih knjiga. Mogućnost online
            izvršavanja ovih funkcija znatno štedi vrijeme u odnosu na odlazak u
            biblioteku.
          </p>
        </div>
      </div>
      <div>
        <div class="why-section-item">
          <div class="why-section-icon">
            <app-book-icon svgClass="landing-page-icon"></app-book-icon>
          </div>
          <div class="why-section-item-title">ČITAJ VIŠE</div>
          <p>
            Proces učlanjivanja u biblioteke i iznajmljivanje knjiga nikada nije
            bio lakši. Uvijek znate tačno koje knjige su dostupne i ,ukoliko već
            nisu, kada će postati dostupne. Ove funkcionalnosti osiguravaju da
            će te uvijek pronaći knjigu za vas.
          </p>
        </div>
      </div>
      <div>
        <div class="why-section-item">
          <div class="why-section-icon">
            <img src="assets/img/bell-dark.png" alt="" />
          </div>
          <div class="why-section-item-title">BUDI INFORMISAN</div>
          <p>
            Uz kontrolnu tablu za korisnike uvijek možete provjeriti rok za
            povratak knjiga koje ste iznajmili i notifikacije od biblioteka u
            koje ste učlanjeni. Budite informisani i saznajte prvi ukoliko vaša
            biblioteka doda nove knjige u kolekciju
          </p>
        </div>
      </div>
    </div>
    <div class="why-section-background">
      <img src="assets/svg/why-section-detail.svg" alt="" />
    </div>
  </div>
</div>

<div class="how-section">
  <div class="section-title" style="color: #fff">KAKO KORISTITI?</div>
  <div class="section-title-line"></div>
  <app-landing-page-how-user></app-landing-page-how-user>
</div>
