.hero-section {
  height: calc(100vh - 59px);
  box-sizing: border-box;
  position: relative;
}

.hero-flex {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
  z-index: 3;
}

.hero-title {
  font-family: "WorkSans-Bold";
  font-size: 6rem;
  width: 700px;
  color: #303030;
}

.hero-subtext {
  font-family: "Roboto-Light";
  font-size: 1.1rem;
  line-height: 180%;
  width: 700px;
  color: #6d6d6d;
  margin-top: 10px;
}
.hero-button-flex {
  display: flex;
  margin-top: 30px;
}

.hero-button-flex > div {
  padding: 10px 20px;
  border-radius: 5px;
}

.learn-more-button {
  border-width: 1px;
  font-family: "Roboto-Light";
  font-size: 1.25em;
}

.register-button {
  font-size: 1.4em;
}
.register-button:hover {
  cursor: pointer;
}

.img-side {
  text-align: right;
  flex-grow: 2;
}

.circular-detail {
  width: 580px;
  height: 580px;
  border-radius: 50%;
  background-color: #c3c3c35d;
  position: absolute;
  top: -175px;
  left: -175px;
  z-index: 2;
}
.arc-detail {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: calc(100vh - 59px);
  z-index: 2;
}

.hero-button-or {
  font-family: "Roboto-Light";
  margin-top: auto;
}

.why-section {
  padding-top: 70px;
  padding-bottom: 100px;
  position: relative;
}

.section-title {
  font-family: "WorkSans-Black";
  text-align: center;
  font-size: 2.7rem;
  color: #303030;
}

.section-subtitle {
  font-family: "Roboto-Light";
  text-align: center;
  font-size: 1.1rem;
  line-height: 180%;
  color: #6d6d6d;
  margin: auto;
  margin-top: 25px;
  width: 700px;
}

.section-title-line {
  background-color: #00d8b1;
  width: 90px;
  height: 10px;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}

.why-section-flex {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  z-index: 3;
}

.why-section-flex > div {
  display: flex;
  flex-grow: 2;
  justify-content: center;
}

.why-section-item {
  background-color: #f9f9f9;
  box-sizing: border-box;
  padding: 25px;
  width: 350px;
  border-bottom: 7px solid #dbdbdb;
  transition: border-bottom 0.2s;
  border-radius: 25px;
}

.why-section-item:hover {
  border-bottom: 7px solid #00d8b1;
  cursor: pointer;
}

.why-section-item-title {
  font-family: "WorkSans-Black";
  text-align: center;
  font-size: 1.6rem;
  color: #303030;
  padding: 10px 0;
  padding-top: 20px;
}

.why-section-item > p {
  font-family: "Roboto-Light";
  text-align: justify;
  font-size: 1.2rem;
  line-height: 180%;
  color: #6d6d6d;
  margin-top: 10px;
}

.why-section-icon {
  height: 90px;
  width: 90px;
  margin: auto;
  background-color: #00d8b1;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.why-section-icon > img {
  height: 50px;
}

.why-section-background {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  width: 100%;
}

.why-section-background > img {
  width: 100%;
}

.credentials-section {
  background-color: #303030;
  padding: 50px;
}

.credentials-flex {
  display: flex;
  align-items: center;
  justify-items: center;
}
.credentials-item {
  display: flex;
  flex-grow: 2;
  justify-content: center;
}

.credentials-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin-right: 10px;
}

.credentials-upper-line {
  background-color: #cad1dc;
  width: 65px;
  height: 15px;
  margin-bottom: 15px;
}

.credentials-lower-line {
  background-color: #b8c1cf;
  width: 144px;
  height: 30px;
}

.how-section {
  background: rgb(31, 31, 31);
  background: linear-gradient(
    0deg,
    rgba(31, 31, 31, 1) 0%,
    rgba(48, 48, 48, 1) 100%
  );
  padding: 70px 0;
  padding-bottom: 100px;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
