.search-wrapper {
  display: flex;
  width: 100%;
  padding-top: 20px;
}
.search-wrapper:focus {
  outline: 1px solid #424242;
  background-color: white;
}
.search-input {
  padding: 15px;
  font-family: "Roboto-Light";
  font-size: 15px;
  border: none;
  border-radius: 7px 0 0 7px;
  background-color: #f5f5f5;
  transition: background-color 0.2s;
  width: 100%;
}
.search-input:focus {
  outline: none;
  background-color: white;
}
.search-button {
  padding: 15px 50px;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  background-color: #303030;
  color: white;
}

.grid-1 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}
.grid-1 > div {
  background-color: #f9f9f9;
  border-radius: 7px;
  min-height: 350px;
  box-sizing: border-box;
  padding: 30px;
  padding-top: 26px;
}

.libraries-wrapper {
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 7px;
  min-height: 350px;
  box-sizing: border-box;
  padding: 30px;
  padding-top: 26px;
}

.no-items {
  font-family: "Roboto-Light";
  font-size: 24px;
  color: #b9b9b9;
  margin-top: 20px;
}

.loading-wrapper {
  padding-top: 150px;
  height: 250px;
  align-items: center;
  text-align: center;
}

.noti-wrapper {
  overflow: hidden;
  height: 100%;
}
