<div
  class="header-item header-link"
  [ngClass]="{ 'header-link-active': url == '' }"
  routerLink="/"
>
  NASLOVNA
  <div class="header-highlight" *ngIf="url == ''"></div>
</div>
<div
  class="header-item header-link"
  [ngClass]="{ 'header-link-active': url == '/biblioteka' }"
  routerLink="/biblioteka"
>
  BIBLIOTEKA
  <div class="header-highlight" *ngIf="url == '/biblioteka'"></div>
</div>
<div
  class="header-item header-link"
  [ngClass]="{ 'header-link-active': url == '/knjige' }"
  routerLink="/knjige"
>
  KNJIGE
  <div class="header-highlight" *ngIf="url == '/knjige'"></div>
</div>
<div
  class="header-item header-link"
  [ngClass]="{ 'header-link-active': url == '/korisnici' }"
  routerLink="/korisnici"
>
  KORISNICI
  <div class="header-highlight" *ngIf="url == '/korisnici'"></div>
</div>
<div class="header-separator">|</div>
<app-user-icon
  class="header-icon-wrappper"
  svgClass="user-icon-header user-icon-header-active"
  routerLink="/profil"
  *ngIf="url == '/profil'"
></app-user-icon>

<app-user-icon
  class="header-icon-wrappper"
  svgClass="user-icon-header"
  routerLink="/profil"
  *ngIf="url != '/profil'"
></app-user-icon>
<button
  class="header-item header-btn button-ghost header-btn-ghost"
  (click)="onLogout()"
>
  ODJAVI SE
</button>
